<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
  </head>

  <body onload="Client.app()">
    <div id="pageContainer">
      <div id="header">
        <header class="header">
          <h1>Travel Planner</h1>
        </header>
      </div>
      <div id="cityImageContainer" class="container">
        <image id="cityImage" class="image" alt="temp image"></image>
      </div>
      <div id="input">
        <section>
          <h2>Trip</h2>
          <div class="card light-grey cardMods">
            <form class="">
              <input id="city" type="text" name="city" placeholder="City" />
              <input id="date" type="date" name="date" placeholder="" />
              <button
                id="submitBtn"
                class="waves-effect waves-light btn"
                type="submit"
                name="submit"
                value="submit"
              >
                Submit
              </button>
            </form>
          </div>
        </section>
      </div>

      <div id="coordinatesContainer" class="container">
        <div id="coordinatesTitle" class="">
          <h2>Coordinates</h2>
        </div>
        <div id="coords" class="cardItemAlignent">Lat:  Lng: </div>
      </div>

      <div id="forecastContainer" class="container">
        <div class="">
          <h2>Forecast</h2>
        </div>
        <div id="forecastDesc" class="cardItemAlignent">Forecast TBD</div>
      </div>

      <div id="factscontainer" class="container">
        <div class="">
          <h2>Facts</h2>
        </div>
        <div id="facts" class="cardItemAlignent">Facts TBD</div>
      </div>
      <div id="countDownContainer" class="container">
        <div class="cardItemAlignent">
          <h3>Countdown</h3>
        </div>
        <div id="countDown" class="cardItemAlignent">TBD</div>
      </div>
      </div>

      <div id="footer">
        <footer class="footer">
          <p>Udacity Project demonstrating webpack & API calls</p>
        </footer>
      </div>
    </div>
    <!-- <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script> -->
  </body>
</html>
