@media (max-width: 800px) {
  .form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
  }

  .input {
    padding: 5px 20px;
    width: 90%;
    line-height: 16px;
    margin: 10px 0;
  }

  input {
    display: block;
    margin: 8px 8px 8px 8px;
  }
  .buttonPrimary {
    display: inline-block;
    background-color: rgb(85, 134, 145);
    border-radius: 4px;
    box-shadow: 2px 2px grey;
    margin: 4px 4px 4px 40px;
    font-size: 1em;
    height: 25px;
    width: 120px;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    color: white;
  }
}

@media (min-width: 800px) {
  .form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
  }

  .input {
    padding: 5px 20px;
    width: 90%;
    line-height: 16px;
    margin: 10px 0;
  }

  input {
    display: block;
    margin: 8px 8px 8px 8px;
  }
  .buttonPrimary {
    display: inline-block;
    background-color: rgb(85, 134, 145);
    border-radius: 4px;
    box-shadow: 4px 4px grey;
    margin: 14px 4px 4px 40px;
    height: 40px;
    width: 120px;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    color: white;
  }
}

.buttonPrimary:hover,
.buttonPrimary:focus {
  background-color: #2098d1;
  color: white;
}
