@media (max-width: 800px) {
  #pageContainer {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 5vh 24vh 10vh 10vh 10vh 14vh 14vh;
    grid-template-areas:
      "header"
      "input"
      "coordinatesContainer"
      "forecastContainer"
      "countDownContainer"
      "factscontainer"
      "cityImageContainer"
      "footer";
  }
}

/* Medium Screens */
@media (min-width: 800px) and (max-width: 1200px) {
  #pageContainer {
    display: grid;
    grid-template-columns: 2vw 20vw 35vw 35vw;
    grid-template-rows: 15vh 2vh 30vh 2vh 10vh 2vh 10vh 2vh 20vh 2vh;
    grid-template-areas:
      "lMargin . header header"
      "lMargin . . ."
      "lMargin cityImageContainer input input"
      "lMargin cityImageContainer . ."
      "lMargin cityImageContainer coordinatesContainer coordinatesContainer"
      "lMargin nada . ."
      "lMargin nada forecastContainer forecastContainer"
      "lMargin nada . ."
      "lMargin countDownContainer factscontainer factscontainer"
      "lMargin . footer footer";
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  #pageContainer {
    display: grid;
    grid-template-columns: 2vw 20vw 35vw 35vw;
    grid-template-rows: 15vh 2vh 30vh 2vh 10vh 2vh 10vh 2vh 20vh 2vh;
    grid-template-areas:
      "lMargin . header header"
      "lMargin . . ."
      "lMargin cityImageContainer input input"
      "lMargin cityImageContainer . ."
      "lMargin cityImageContainer coordinatesContainer coordinatesContainer"
      "lMargin nada . ."
      "lMargin nada forecastContainer forecastContainer"
      "lMargin nada . ."
      "lMargin countDownContainer factscontainer factscontainer"
      "lMargin . footer footer";
  }
}

#header {
  grid-area: header;
}

#input {
  grid-area: input;
}

#cityImageContainer {
  grid-area: cityImageContainer;
}

#coordinatesContainer {
  grid-area: coordinatesContainer;
}

#forecastContainer {
  grid-area: forecastContainer;
}

#factscontainer {
  grid-area: factscontainer;
}

#countDownContainer {
  grid-area: countDownContainer;
}

#footer {
  grid-area: footer;
}

#nada {
  grid-area: nada;
}
