@media (max-width: 800px) {
  #pageContainer {
    display: grid;
    grid-template-columns: 10vw 40vw 35vw;
    grid-template-rows: 7vh 20vh 20vh 20vh 20vh;
    grid-template-areas:
      ". header header"
      "cityImage input input"
      "cityImage coordinatesContainer coordinatesContainer"
      "cityImage forecastContainer forecastContainer"
      ". footer footer";
  }

  body {
    font-size: 0.8em;
  }
}

/* Medium Screens */
@media (min-width: 800px) and (max-width: 1200px) {
  #pageContainer {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 7vh 40vh 20vh 20vh 20vh;
    grid-template-areas:
      ". header header"
      "cityImage input input"
      "cityImage coordinatesContainer coordinatesContainer"
      "cityImage forecastContainer forecastContainer"
      ". Facts Facts";
  }

  body {
    font-size: 1em;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  #pageContainer {
    display: grid;
    grid-template-columns: 10vw 40vw 35vw;
    grid-template-rows: 7vh 20vh 20vh 20vh 20vh;
    grid-template-areas:
      ". header header"
      ". input input"
      "cityImage coordinatesContainer coordinatesContainer"
      ". forecastContainer forecastContainer"
      ". footer footer";
  }

  body {
    font-size: 1.1em;
  }
}

#header {
  grid-area: header;
}

#input {
  grid-area: input;
}

#cityImage {
  grid-area: cityImage;
}

#coordinatesContainer {
  grid-area: coordinatesContainer;
}

#forecastContainer {
  grid-area: forecastContainer;
}

#footer {
  grid-area: footer;
}
