@media (max-width: 800px) {
  #pageContainer {
    display: grid;
    grid-template-columns: 10vw 40vw 35vw;
    grid-template-rows: 7vh 20vh 20vh 20vh 20vh;
    grid-template-areas:
      ". header header"
      "cityImageContainer input input"
      "cityImageContainer coordinatesContainer coordinatesContainer"
      "cityImageContainer forecastContainer forecastContainer"
      ". footer footer";
  }

  body {
    font-size: 0.8em;
  }
}

/* Medium Screens */
@media (min-width: 800px) and (max-width: 1200px) {
  #pageContainer {
    display: grid;
    grid-template-columns: 20vw 35vw 35vw;
    grid-template-rows: 15vh 2vh 30vh 2vh 10vh 2vh 10vh 2vh 20vh 2vh;
    grid-template-areas:
      ". header header"
      ". . ."
      "cityImageContainer input input"
      "cityImageContainer . ."
      "cityImageContainer coordinatesContainer coordinatesContainer"
      "nada . ."
      "nada forecastContainer forecastContainer"
      "nada . ."
      "countDownContainer factscontainer factscontainer"
      ". footer footer";
  }

  body {
    font-size: 1em;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  #pageContainer {
    display: grid;
    grid-template-columns: 10vw 40vw 35vw;
    grid-template-rows: 7vh 20vh 20vh 20vh 20vh;
    grid-template-areas:
      ". header header"
      ". input input"
      "cityImageContainer . ."
      "cityImageContainer coordinatesContainer coordinatesContainer"
      "cityImageContainer forecastContainer forecastContainer"
      "cityImageContainer . ."
      "cityImageContainer factscontainer factscontainer"
      "cityImageContainer . ."
      ". footer footer";
  }

  body {
    font-size: 1.1em;
  }
}

#header {
  grid-area: header;
}

#input {
  grid-area: input;
}

#cityImageContainer {
  grid-area: cityImageContainer;
}

#coordinatesContainer {
  grid-area: coordinatesContainer;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  vertical-align: middle;
  margin: 4px 2px 2px 2px;
  padding: 6px 2px 4px 2px;
  background-color: rgb(210, 227, 231);
  border-radius: 4px;
  box-shadow: 4px 4px grey;
  width: 80%;
}

.cardItemAlignent {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#forecastContainer {
  grid-area: forecastContainer;
}

#factscontainer {
  grid-area: factscontainer;
}

#countDownContainer {
  grid-area: countDownContainer;
}

#footer {
  grid-area: footer;
}

#nada {
  grid-area: nada;
}
